config 'nocatauth'
	option 'enable'		'0'
	option 'external'	'wan'
	option 'internal'	'lan'
	#option 'name'		'Personal Telco Project'
	#option 'mode'		'open'
	#option 'homepage'	'http://personaltelco.net/'
	#option 'session'	'86400'
	#option 'timeout'	'900'
	#option 'path'		'/www'
	#option 'splash'	'splash.html'
	#option 'mobile'	'mobile.html'
	#option 'status'	'status.html'
	#option 'log'		'/var/log/nocatauth.log'
	#option 'verbosity'	'5'

