#
# This will forward port 5280 on a NAT box to let Auth service traffic
# through.  You don't need this on the gateway; it's only useful if
# your entire network is behind a Linux 2.2.x box running NAT.  Run
# these commands on that box.
#
# You can get ipmasqadm from http://juanjox.kernelnotes.org/
#
# Set RealIP to the "Real" IP address of your NAT, and Gateway to the
# IP address of your NoCat Gateway.
#
RealIP="111.222.333.444"
Gateway="192.168.1.234"

#
# If you have Linux 2.2 (or 2.4) and ipchains, uncomment these two lines:
#
#/usr/sbin/ipmasqadm portfw -f
#/usr/sbin/ipmasqadm portfw -a -P tcp -L $RealIP 5280 -R $Gateway 5280

#
# If you're using Linux 2.4 + iptables, uncomment this line:
#
#/usr/sbin/iptables -A PREROUTING -t nat -p tcp -d $RealIP --dport 5280 -j DNAT --to $Gateway:5280

#
# Ende
#
